<div class="footer">
  <p>To jest automatyczna wiadomość, prosimy na nią nie odpowiadać.</p>
  <p>W razie pytań i wątpliwości prosimy o kontakt na adres <a href="mailto:info@realty-zone.com">info@realty-zone.com</a>.</p>
  <p>Pozdrawiamy,<br>Zespół Realty Zone</p>
</div>
