{{> head}}
{{> header}}

<p>Aby dokończyć rejestrację na naszej stronie, prosimy o potwierdzenie swojego adresu email przez kliknięcie w poniższy link:</p>
<p><a href="{{url}}">{{url}}</a></p>
<p>Jeśli nie rejestrowałeś się na naszej stronie, prosimy o zignorowanie tej wiadomości.</p>

{{> footer }}
