{{> head}}
{{> header}}

<p>Chcieliśmy Cię poinformować, że Twoje hasło zostało pomyślnie zmienione.</p>
<p>Jeśli to nie Ty dokonywałeś zmiany, prosimy o niezwłoczne skontaktowanie się z nami pod adresem <a href="mailto:info@realty-zone.com">info@realty-zone.com</a>.</p>

{{> footer }}