{{> head}}
{{> header}}

<p>Aby dokończyć resetowanie hasła, prosimy o kliknięcie w poniższy link i wpisanie nowego hasła:</p>
<p><a href="{{url}}">{{url}}</a></p>
<p>Jeśli nie wysyłałeś prośby o resetowanie hasła, prosimy o zignorowanie tej wiadomości.</p>

{{> footer }}