<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>
<div class="header">
  <h1>Tytuł: {{{title}}}</h1>
  <h2>Witaj, {{{username}}}!</h2>
</div>

<p>Serdecznie witamy na naszej platformie do dodawania ogłoszeń nieruchomości!</p>
<p>Jesteśmy bardzo zadowoleni, że dołączyłeś do naszej społeczności. Twoje konto zostało aktywowane, co oznacza, że teraz masz dostęp do wszystkich funkcjonalności naszej platformy. Możesz dodawać nowe ogłoszenia, edytować oraz usuwać istniejące, a także odczytywać zapytania od zainteresowanych.</p>
<p>Ciesz się pełnią możliwości i bądź czujny na nowe okazje. Jeśli masz jakieś pytania lub potrzebujesz pomocy, nie wahaj się skontaktować z naszym zespołem wsparcia, który jest zawsze gotowy, by Ci pomóc.</p>
<p>Jeszcze raz dziękujemy za dołączenie do naszej społeczności i życzymy miłego dnia!</p>


<div class="footer">
  <hr/>
  <p>To jest automatyczna wiadomość, prosimy na nią nie odpowiadać.</p>
  <p>W razie pytań i wątpliwości prosimy o kontakt na adres <a href="mailto:info@realty-zone.com">info@realty-zone.com</a>.</p>
  <p>Pozdrawiamy,<br>Zespół Realty Zone</p>
</div>

