POSTGRES_USER=admin
POSTGRES_PASSWORD=mySecretPasswordDB
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=realty-zone-db
POSTGRES_COLLATION=pl_PL.utf8
POSTGRES_ENCODING=UTF-8

APP_PORT=3001
APP_HOSTNAME=localhost
API_URL=http://localhost:3001

CLIENT_URL=http://localhost:5173

EMAIL_DOMAIN=localhost
EMAIL_HOST=gmail
EMAIL_PORT=2221
EMAIL_USER=nestjs.application@gmail.com
EMAIL_PASSWORD=...

JWT_SECRET_ACTIVATION_TOKEN=jwt_activation_token_secret
JWT_EXPIRATION_TIME_ACTIVATION_TOKEN=3600
JWT_SECRET_PASSWORD_RESET_TOKEN=jwt_password_reset_token_secret
JWT_EXPIRATION_TIME_PASSWORD_RESET_TOKEN=3600
JWT_SECRET_REFRESH_TOKEN=jwt_refrest_token_secret
JWT_EXPIRATION_TIME_REFRESH_TOKEN=36000
JWT_SECRET_AUTHENTICATION_TOKEN=jwt_authentication_token_secret
JWT_EXPIRATION_TIME_AUTHENTICATION_TOKEN=60
