<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Potwierdź swój adres email</title>
</head>
<body>
<h1>Witaj {{username}}!</h1>
<p>Aby dokończyć rejestrację na naszej stronie, prosimy o potwierdzenie swojego adresu email przez kliknięcie w poniższy link:</p>
<p><a href="{{url}}">{{url}}</a></p>
<p>Jeśli nie rejestrowałeś się na naszej stronie, prosimy o zignorowanie tej wiadomości.</p>
<p>Pozdrawiamy,</p>
<p>Zespół Realty Zone</p>
<hr>
<p>To jest automatyczna wiadomość, prosimy na nią nie odpowiadać.</p>
<p>W razie pytań lub wątpliwości, prosimy o kontakt z nami pod adresem email: info@realty-zone.com</p>
</body>
</html>